body::-webkit-scrollbar {
    display: none;
}

body {
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.v-input__details {
	display: none;
}